<%= stylesheet_link_tag "communities" %>

<% if flash[:message] %>
  <%= puts "Your message was sent" %>
<% end %>

<div class= "container containerPage">
	<div class="row">
		<div class="col-md-12">
      <div class = "community-banner"></div>
		</div>
	</div>
	<div class="row row2">
		<div class="col-md-6" id="secondColumn">
			<h2>LIFE GROUPS</h2>
			<p>
				God invites us to live in intentional community. Life groups produce meaningful connections where life change can take place. These groups aspire to be a place for honest discussion and a safe place where people can be supported as they walk through life together!
			</p> 
			<br />
			<br />
			<br />
			<h4 class="communitiesFont">
				<span style="color: #933D2F">GROUPS (choose one to email)</span>
			</h4>
			
			<div class = "row groupsRow">
				<div class = "col-xs-6 clickable" data-name = "Tony/Brandt"><font size="3.5">Tony/Brandt</font><br/> <small>(men's)</small></div>
				<div class = "col-xs-6 clickable" data-name = "Do Swenson"><font size="3.5">Do Swenson</font><br/> <small>(women's)</small></div><br /><br />
			</div>
			<br/ >

			<div class = "row groupsRow">
				<div class = "col-xs-6 clickable" data-name = "Barry/Lori"><font size="3.5">Barry/Lori</font></div>
				<div class = "col-xs-6 clickable" data-name = "Joe/John" ><font size="3.5">Joe/John</font></div>
			</div>
			<br/ >

			<div class = "row groupsRow">
				<div class = "col-xs-6 clickable" data-name = "Joe/Jennie"><font size="3.5">Joe/Jennie</font></div>
				<div class = "col-xs-6 clickable" data-name = "Dillan/Mariah"><font size="3.5">Dillan/Mariah</font></div>
			</div>
		</div>
		<div class="col-md-6" id="thirdColumn">
			<%= image_tag "/church-131.png", width: "100%" %>
			<%= render 'layouts/formtwo' %>
		</div>
	</div>
