<%= stylesheet_link_tag "communities" %>

<div class= "container containerPage">
	<div class="row">
		<div class="col-md-12">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class="row row2">
		<div class="col-md-6" id="secondColumn">
			<h2>LIFE GROUPS</h2>
			<p>
				God invites us to live in intentional community. Life groups produce meaningful connections where life change can take place. These groups aspire to be a place for honest discussion and a safe place where people can be supported as they walk through life together!
			</p> 
			<br />
			<br />
			<br />
			<h4 class="communitiesFont">
				<span style="color: #933D2F">GROUPS</span>
			</h4>
			
			<div class = "row groupsRow">
				<div class = "col-xs-6">Tony/Brandt<br/> <small>(men's)</small></div>
				<div class = "col-xs-6">Do Swenson<br/> <small>(women's)</small></div><br /><br />
			</div>
			<br/ >

			<div class = "row groupsRow">
				<div class = "col-xs-6">Barry/Lori </div>
				<div class = "col-xs-6">Joe/John</div>
			</div>
			<br/ >

			<div class = "row groupsRow">
				<div class = "col-xs-6">Joe/Jennie</div>
				<div class = "col-xs-6">Dillan/Mariah</div>
			</div>
		</div>
		<div class="col-md-6" id="thirdColumn">
			<%= image_tag "church-131.jpg", width: "100%" %>
			<%= render 'layouts/formtwo' %>
		</div>
	</div>