<%= stylesheet_link_tag "sundays" %>

<div class = "container" id = "contactPage">
	<div class = "row" id = "rowOne">
		<div class = "col-md-12" id = "cfirstColumn">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class = "row" id = "rowTwo">
		<div class = "col-md-6" id = "csecondColumn">
			<h2 class="cfontOne leftContact" id="redBackground">Contact Us</h2>
			<p class="cfontOne paragraphFont"><span style="color: #933D2F">Address:</span> 110 N Orr St<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Columbia, MO</p><br /><br />
			<p class="cfontOne paragraphFont"><span style="color: #933D2F">Phone:</span> (573) 489-8069</p><br /><br /><br />
			<p class="cfontOne paragraphFont"><span style="color: #933D2F">Email:</span> ccfjoe@juno.com</p>
		</div>
		<div class = "col-md-6" id = "cthirdColumn">
			<%= render 'layouts/map' %>
		</div>
	</div>
</div>

