<%= stylesheet_link_tag "sundays" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<h2 class="leftContact">Contact Us</h2><br />
			<p class="contactFont"><span style="color: #933D2F"><strong>Address:</span> 110 N Orr St<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Columbia, MO</strong></p><br /><br />
			<p class="contactFont"><span style="color: #933D2F"><strong>Phone:</span> (573) 489-8069</strong></p><br /><br /><br />
			<p class="contactFont"><span style="color: #933D2F"><strong>Email:</span> ccfjoe@juno.com</strong></p>
		</div>
		<div class = "col-md-6" id = "thirdColumn">
			<%= render 'layouts/map' %>
		</div>
	</div>
</div>

