<!DOCTYPE html>
<html>
	<body>
		<h1>Contact Us</h1>
		<p>address: 110 N Orr St Columbia, MO</p>
		<p>phone: (573) 489-8069</p>
		<p>email: ccfjoe@juno.com</p>

		<p>Click above to get directions of City of Hope Sunday service at ten am and office open throughout the week</p>
	</body>
</html>
