<%= stylesheet_link_tag "donate" %>

<div class = "container" id = "donatePage">
	<div class = "row" id = "rowOne">
		<div class = "col-md-12" id = "dfirstColumn">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class = "row" id = "rowTwo">
		<div class = "col-md-6" id = "dsecondColumn">
			<h2 class="dfontOne" id = "redBackground">SERVICE DONATE</h2>
			<p class="dfontOne">Thank you for your desire to support City of Hope. Here you can give to the church or give support to a specific member of the staff.</p>
			<p class="dfontOne">Joe</p>
			<p class="dfontOne">Dillian</p>
			<p class="dfontOne">Tony</p>
		</div>
		<div class = "col-md-6" id = "dthirdColumn">
			<h1 class="dfontTwo">Add Payment Form</h1>
		</div>
	</div>
</div>


