<!DOCTYPE html>
<html>
	<body>
		<h1>Service Donate</h1>
		<p>Thank you for your desire to support City of Hope. Here you can give to the church or give support to a specific member of the staff</p>
		<p>Joe</p>
		<p>Dillian</p>
		<p>Tony</p>
	</body>
</html>
