<%= stylesheet_link_tag "home" %>
<div class = "container containerPage">
	<p><%= image_tag "/church-159.png", width: "100%",id: "homeImage" %></p>
	<p id="homeTextOne">CITY OF HOPE</p>
	<p id="homeTextTwo">SUNDAY SERVICE AT 10 AM</p>
</div>