<%= stylesheet_link_tag "home" %>

<div class="image" id="homePage">
	<%= image_tag "church-159.png", width: "100%", height: "50px",id: "homeImage" %>
	<p id="homeTextOne">CITY OF HOPE</p>
	<p id="homeTextTwo">SUNDAY SERVICE AT 10 AM</p>
</div>
