<!DOCTYPE html>
<html>
	<body>
		<h1>WHAT TO EXPECT</h1>
		<p>City of Hope is a small community of Christ followers, striving to help people in their journey back to God. Our Sunday gatherings will not only include time for drawing near to God through worship and teaching, but also time to draw close to one another by sharing needs and insights.</p>
		<h2>Ephesians 2:12</h2>
		<h3>Sunday Feb 16</h3>
		<p>What would it look like if we lived like family, saints, or a household</p>
		<h2>Info</h2>
		<h2>Service</h2>
		<p>We believe Jesus placed high esteem on each broken soul. We long to do the same with the help of His Spirit!</p>
		<p>Service times: 10:00 am to 11:30 am</p>
		<p>Location: 1010 Orr Street Columbia, MO</p>
		<h2>Child Care</h2>
		<p>Children eight and under will explore Bible stories, pray, and spend time worshipping in a safe environment.</p>
	</body>
</html>
