


<link href="/header.css" media="screen" rel="stylesheet">

<div class = "container containerPage">
	<p><%= image_tag "/church-159.png", width: "100%",id: "homeImage" %></p>
	<p id="homeTextOne">CITY OF HOPE</p>
</div>
