<%= stylesheet_link_tag "service" %>

<div class = "container" id = "servicePage">
	<div class = "row" id = "rowOne">
		<div class = "col-md-12" id = "firstColumn">
			<%= image_tag "crowd.jpg", width: "100%" %>
		</div>
	</div>
	<div class = "row" id = "rowTwo">
		<div class = "col-md-6" id = "secondColumn">
			<h2 class="fontOne spacing" id = "redBackground"><span style="color: #E4BC7C">SERVICE</span> DONATE</h2>
			<p class="fontOne paragraphFont"> Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p><br />
			<h4 class="fontOne paragraphFont serviceFont">Area of Interest</h4><br />
			<p class="fontOne paragraphFont serviceFont">Cafe Area</p>
			<p class="fontOne paragraphFont serviceFont">Childrens Worship</p>
			<p class="fontOne paragraphFont serviceFont">Sunday Greeter</p>
			<p class="fontOne paragraphFont serviceFont">Worship Team</p>
		</div>
		<div class = "col-md-6" id = "thirdColumn">
			<%= image_tag "church-7.jpg", width: "100%" %>
			<%= render 'layouts/form' %>
		</div>
	</div>
</div>


