<!DOCTYPE html>
<html>
	<body>
		<h1>SERVICE DONATE</h1>
		<p>Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p>
		<h2>Area of Interest</h2>
		<p>Cafe Area</p>
		<p>Childrens Worship</p>
		<p>Sunday Greeter</p>
		<p>Worship Team</p>
	</body>
</html>
