<%= stylesheet_link_tag "service" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
      <div class = "service-banner"></div>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<!--<h2 class="spacing"><span style="color: #E4BC7C">SERVICE</span> <a href = "/donate">DONATE</a></h2>-->
			<h2>SERVICE</h2>
			<p> Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p><br />
			
			<h4>
				<span style="color: #933D2F">Area of Interest (choose one to email)</span>
			</h4><br />

			<strong>
			<div class = "row interestsRow">
				<div class = "col-xs-6 clickable" data-name = "Cafe Area"><font size="3.5">Cafe Area</font><br/></div>
			</div><br/>

			<div class = "row InterestsRow">
				<div class = "col-xs-6 clickable" data-name = "Children's Worship"><font size="3.5">Children's Worship</font><br/></div>
			</div><br/>

			<div class = "row InterestsRow">
				<div class = "col-xs-6 clickable" data-name = "Sunday Greeter"><font size="3.5">Sunday Greeter</font><br/></div>
			</div><br/>

			<div class = "row InterestsRow">
				<div class = "col-xs-6 clickable" data-name = "Worship Team"><font size="3.5">Worship Team</font><br/></div>
			</div>
			</strong>
			
		</div>
		<div class = "col-md-6" id = "thirdColumn">
			<%= image_tag "/church-7.png", width: "100%" %>
			<%= render 'layouts/form' %>
		</div>
	</div>
</div>


