<%= stylesheet_link_tag "service" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
      <div class = "service-banner"></div>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<h2 class="spacing"><span style="color: #E4BC7C">SERVICE</span> <a href = "/donate">DONATE</a></h2>
			<p> Jesus called the church His body. Just as a body has different parts that function as one unit, so does the City of Hope community. We desire to help each person find a place to serve! We have a dream of impacting our city by being His hands and feet! Below are areas where you can find opportunities to serve.</p><br /><br />
			<strong>
				<h4>Area of Interest</h4><br />
				<p>Cafe Area</p>
				<p>Childrens Worship</p>
				<p>Sunday Greeter</p>
				<p>Worship Team</p>
			</strong>
		</div>
		<div class = "col-md-6" id = "thirdColumn">
			<%= image_tag "church-7.jpg", width: "100%" %>
			<%= render 'layouts/form' %>
		</div>
	</div>
</div>


