<%= stylesheet_link_tag "sundays" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
      		<div class = "sunday-banner"></div>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<h2>WHAT TO EXPECT</h2>
			<p id="paragraphPadding">City of Hope is a small community of Christ followers, striving to help people in their journey back to God. Our Sunday gatherings will not only include time for drawing near to God through worship and teaching, but also time to draw close to one another by sharing needs and insights.</p>
			<div class = "col-xs-6">
				<p class="sfontOne bible-image"><%= image_tag "/church-140.png" %></p>
				<p id = "sermonNotes">SERMON NOTES</p>
			</div>
			<div class = "col-xs-6">
				<h3 class="weeklyVerse" id="redFont">Psalm 139</h3>
				<h4 class="date">January Series</h4>
				<p id="redLine"></p>
				<p class="scriptureTopic"><em>"How precious to me are your thoughts, O God! How vast is the sum of them!"</em></p>
			</div>

		</div>
		<div class = "col-md-6" id = "sundayThirdColumn">
			<h2 class="sfontTwo smallerFont">Upcoming Dates</h2>
			<p class="sundayAlignment sundayTop sundayBottom">
				<strong>January 1</strong> - We begin a new sermon series on Psalm 139</br>
				<strong>January 23</strong> - Our next Secret Church! 6:00pm - 11:00pm</br>
				<strong>March 21-28</strong> - Spring Break trip to New Life Ranch!
			</p>
			
			<h2 class="smallerFont">Service</h2>
			<p class="sundayAlignment sundayTop">We believe Jesus placed high esteem on each broken soul. We long to do the same with the help of His Spirit!</p>
			<p class="sundayAlignment sundayMiddle"><strong>Service times:</strong> 10:00 am to 11:30 am<br /><strong>Location:</strong> 110 Orr Street Columbia, MO</p>
			<h2 class="smallerFont">Child Care</h2>
			<p class="sundayAlignment sundayBottom">Children eight and under will explore Bible stories, pray, and spend time worshipping in a safe environment.</p>
		</div>
	</div>
</div>
