<%= stylesheet_link_tag "sundays" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
      		<div class = "sunday-banner"></div>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<h2>WHAT TO EXPECT</h2>
			<p id="paragraphPadding">City of Hope is a small community of Christ followers, striving to help people in their journey back to God. Our Sunday gatherings will not only include time for drawing near to God through worship and teaching, but also time to draw close to one another by sharing needs and insights.</p>
			<div class = "col-xs-6">
				<p class="sfontOne bible-image"><%= image_tag "/church-140.png" %></p>
				<p id = "sermonNotes">SERMON NOTES</p>
			</div>
			<div class = "col-xs-6">
				</br><h3 class="weeklyVerse" id="redFont">Core Values</h3>
				<h4 class="date">June Series</h4>
				<p id="redLine"></p>
				<p class="scriptureTopic"><em>"How good and pleasant it is when God’s people live together in unity!"</em></p>
			</div>

		</div>
		<div class = "col-md-6" id = "sundayThirdColumn">
			<h2 class="sfontTwo smallerFont">Upcoming Dates</h2>
			<p class="sundayAlignment sundayTop sundayBottom">
				Starting in June City of Hope will begin a soccer outreach ministry. Our hope is that God will draw in refugees and other young people so we can share the gospel and have a great time.</br></br>
		
				
				When: Saturdays 9 - 11am</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				June 13th 20th 27th</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				July 11th 25th</br></br>

				Where: 3800 S. Scott Boulevard (rides can be provided)
			</p>
			
			<h2 class="smallerFont">Service</h2>
			<p class="sundayAlignment sundayTop">We believe Jesus placed high esteem on each broken soul. We long to do the same with the help of His Spirit!</p>
			<p class="sundayAlignment sundayMiddle"><strong>Service times:</strong> 10:00 am to 11:30 am<br /><strong>Service Location:</strong> 701 E Ash Street Columbia, MO<br /><strong>Office Location:</strong> 110 Orr Street Columbia, MO</p>
			<h2 class="smallerFont">Child Care</h2>
			<p class="sundayAlignment sundayBottom">Children eight and under will explore Bible stories, pray, and spend time worshipping in a safe environment.</p>
		</div>
	</div>
</div>
