<%= stylesheet_link_tag "sundays" %>

<div class = "container" id = "sundaysPage">
	<div class = "row" id = "rowOne">
		<div class = "col-md-12" id = "sfirstColumn">
			<%= image_tag "crowd.jpg", width: "100%", class: "sunday-image" %>
		</div>
	</div>
	<div class = "row" id = "rowtwo">
		<div class = "col-md-6" id = "ssecondColumn">
			<h2 class="sfontOne" id = "redBackground" style="text-align:center">WHAT TO EXPECT</h2>
			<p class="sfontOne" style="text-align:left">City of Hope is a small community of Christ followers, striving to help people in their journey back to God. Our Sunday gatherings will not only include time for drawing near to God through worship and teaching, but also time to draw close to one another by sharing needs and insights.</p>
			<p class="sfontOne" style="text-align:left"><img src="" alt="Add Picture Here"></p>
			<h3 class="sfontOne" style="text-align:left" id ="redFont">Ephesians 2:12</h3>
			<h3 class="sfontOne" style="text-align:left">Sunday Feb 16</h3>
			<p class="sfontOne" style="text-align:left"><em>What would it look like if we lived like family, saints, or a household?</em></p>
		</div>
		<div class = "col-md-6" id = "sthirdColumn">
			<h2 class="sfontTwo" id = "redBackground" style="text-align:center">Info</h2>
			<h2 class="sfontTwo" id = "redBackground" style="text-align:center">Service</h2>
			<p class="sfontTwo" style="text-align:left">We believe Jesus placed high esteem on each broken soul. We long to do the same with the help of His Spirit!</p>
			<p class="sfontTwo" style="text-align:left">Service times: 10:00 am to 11:30 am</p>
			<p class="sfontTwo" style="text-align:left">Location: 1010 Orr Street Columbia, MO</p>
			<h2 class="sfontTwo" id = "redBackground" style="text-align:center">Child Care</h2>
			<p class="sfontTwo" style="text-align:left">Children eight and under will explore Bible stories, pray, and spend time worshipping in a safe environment.</p>
		</div>
	</div>
</div>

<!--
<div id = "aboutPage" class = "container">
  <div class = "row">
    <div class = "col-md-5" id = "firstcolumn">
      <h4><strong>Welcome to Chicken Chasing!</strong></h4>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at tempus tellus. Suspendisse laoreet elementum orci, ut vehicula turpis semper id. Fusce vestibulum mauris sit amet augue commodo suscipit ac vel neque. Cras eu eros nec mi lacinia blandit vehicula nec arcu. Nam arcu ipsum, vestibulum tincidunt luctus eget, interdum nec sapien. Aenean venenatis nulla in nulla vestibulum, et porttitor erat fringilla. Morbi tortor dolor, vulputate lacinia massa vel, tristique pulvinar magna. Pellentesque dignissim risus non orci sodales ullamcorper. Phasellus volutpat dictum dui et vulputate. Nam porta velit at nulla egestas rutrum. Aenean placerat eget metus quis hendrerit. Quisque iaculis lorem quam, et porttitor purus ultricies vel. In condimentum consequat maximus. Ut eget leo luctus, accumsan magna a, aliquam nibh.
      </p>
    </div>
    <div class = "col-md-7" id = "secondcolumn">
      <%= image_tag "crowd.jpg", width: "100%" %>
    </div>
  </div>
</div>
-->