<%= stylesheet_link_tag "vision" %>

<div class = "container containerPage">
	<div class = "row">
		<div class = "col-md-12">
      		<div class = "vision-banner"></div>
		</div>
	</div>
	<div class = "row row2">
		<div class = "col-md-6" id = "secondColumn">
			<h2 class = "leftContact">MISSION</h2>
			<p>City of Hope is a community of broken Christ followers who feel called to help disconnected people find their way back to God. Through our Sunday gatherings, life groups, and service opportunities it is our desire that God's presence transform and animate this community to transform and breathe life into this city.</p>
		</div>
		<div class = "col-md-6" id = "thirdColumn">
			<%= image_tag "/vision2.png", width: "100%" %>
		</div>
	</div>
</div>
