@import "bootstrap";

/* Page Formatting */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height:100%;
	line-height: 0px;
	background-color: #F9F9F9;
}
#wrapper{
	min-height: 100%;
	position: relative;
	background-color: #F9F9F9;
}
#content{
	padding: 10px;
	padding-bottom: 30px;
	background-color: #F9F9F9;
}
.container.containerPage{
  background-color: #F9F9F9;
  width: 100%;
  height: 100%;
  background-image: url("/gray.png");
}
.row.row2 {
  padding-bottom: 130px;
}

/* Column Formatting */

.row .col-md-12{
  margin-top: 20px;
  padding-top: 50px;
  width: 67.1%;
  margin-left: 16.4%;
  img {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding: 0;
  }
}
#secondColumn{
  padding: 0px;
  margin-left: 17.5%;
  margin-top: 20px;
  float: left;
  width: 30%;
  p {
    font-family: Forum-Regular;
    font-size: 120%;
  }
}
#thirdColumn{
	padding: 0px;
  	margin-left: 0px;
  	margin-right: 225px;
  	margin-top: 30px;
  	float: right;
  	width: 30%;
    img {
      margin-top: 0px;
      width: 100%;
      height: 200px;
    }
}

/* Font Layout */

/* Colors and Font */
p, h3, h4 {
  text-align: left;
}
@font-face {
  font-family: axis;
  src: url('/fonts/axis.eot');
  src: url('/fonts/axis.eot?#iefix') format('embedded-opentype'),
  url('/fonts/axis.woff') format('woff'),
  url('/fonts/axis.ttf') format('truetype'),
  url('/fonts/axis.svg#axis') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Forum-Regular;
  src: url('/fonts/Forum-Regular.eot');
  src: url('/fonts/Forum-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Forum-Regular.woff') format('woff'),
  url('/fonts/Forum-Regular.ttf') format('truetype'),
  url('/fonts/Forum-Regular.svg#ForumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Fabrica-Regular;
  src: url('/fonts/Fabrica-Regular.eot');
  src: url('/fonts/Fabrica-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Fabrica-Regular.woff') format('woff'),
  url('/fonts/Fabrica-Regular.ttf') format('truetype'),
  url('/fonts/Fabrica-Regular.svg#ForumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.row .col-md-6 h2 {
	background-color:#933D2F;
	color:white;
	text-align: center;
	font-size: 25px !important;
	line-height: 30px;
  font-weight: bold;
  font-family: axis;
  padding-top: 5px;
  a {
    color: white !important;
    text-decoration: none;
    font-family: axis;
  }
}
#redFont{
	color: #933D2F;
  font-family: axis;
}

@media only screen and (max-width: 1024px) {
	  .row .col-md-12{
      margin-top: 20px;
      padding-top: 50px;
      width: 68%;
      margin-left: 165px;
    }

    #secondColumn{
      padding: 0px;
      margin-left: 180px;
      margin-top: 20px;
      float: left;
      width: 30%;
    }

    #thirdColumn{
      padding: 0px;
      margin-left: 0px;
      margin-right: 180px;
      margin-top: 20px;
      float: right;
      width: 30%;
   }
}

