
.navbar-fixed-top {
    background-color: #E4BC7C;
    border-color: #E4BC7C;
}
div#header{
	height: 55px;
}

.header-link{
	color: white !important;
}

.dropdown-toggle:active, .open .dropdown-toggle {
	background-color: #E4BC7C !important;
} 
.dropdown-toggle:visited, .open .dropdown-toggle {
	background-color: #E4BC7C !important;
} 

.logo {
  height: 50px;
	width: 50px;
	margin-top: 2px;
	margin-left: 160px;
	float: left;
  cursor: pointer;
}

.navbar-collapse.collapse {
  margin-left: 195px;
  width: 500px;
  margin-right: 0px;
}

.temp-circle{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color:white;
	margin-top: 2px;
	margin-left: 160px;
	float: left;
}

.container.menu {
	width: 100% !important;
}

.container.menu {
	height: 100%;
	padding-top: 5px;
}
ul li {
	font-size: 90%;
}
ul li ul li {
	font-size: 85%;
}
li.dropdown{
	padding-left: 15px;
}
.navbar-fixed-top .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
	background-color: #933D2F;
	color: white;
	font-family: axis;
}
.navbar .nav > li{
	padding-left: 25px;
	text-shadow: none;
}
.navbar .nav > li > a {
	float: none;
	text-decoration: none;
	font-family: axis;
	font-size: 130%;
	text-shadow: 0 0 0 !important;
	padding: 13px 0 !important;
}
.navbar-nav>li>.dropdown-menu{
	margin-left: 15px;
	box-shadow: none;
	border: none;
	margin-top: -5px;
}
.navbar .nav > li > .dropdown-menu:before{
	border: 0px !important;
}
.navbar .nav > li > .dropdown-menu:after{
	border-bottom: 8px solid #933D2F !important;
	border-left: 15px solid transparent !important;
	border-right: 15px solid transparent !important;
	left: 20px !important;
	top: -8px !important;
}
.dropdown-menu li>a:hover{
	background:#933D2F !important; 
}
ul.dropdown-menu{
	background-color:  #933D2F !important;
	min-width: 125px;
	border-radius: 0px;
	box-shadow: 0px;
}
ul.nav a:focus {
	color: #933D2F !important;
	font-weight: bold !important;
}
