@import "bootstrap";

.serviceFont{
	font-size: 125%;
}
h4, strong {
	font-family: piersans, Arial, Helvetica, sans-serif !important;
	font-size: 1.3vw !important;
}
.col-xs-6.clickable:hover {
	text-decoration: underline; 
	-moz-text-decoration-color: red;
    text-decoration-color: red;
	cursor: pointer;
}
.row.InterestsRow {
	padding-top: 5px;
	font-size: 1.5vw !important;
	line-height: 1.7vw !important;
	font-weight: bold;
}
.col-xs-6.clickable {
	padding-top: 5px;
	font-size: 1.5vw !important;
	line-height: 1.7vw !important;
	font-weight: bold;
}
/* Form */
label.form-label {
  font-family: axis, Arial, Helvetica, sans-serif;
}

form{
	border: 1px solid black !important;
	margin-top: 30px !important;
	padding-bottom: 10px !important;
	background-color: #F6F6F6 !important;
	h2{
		margin: 0px !important;
		text-align: center !important;
		padding-right: 250px !important;
	}
	p{
		margin: 10px 0px 10px !important;
	}
}
input[type="text"]{
	width: 85% !important;
	margin-left: 27px !important;
	margin-bottom: 0px !important;
	border-radius: 0% !important;
	border: 1px solid #E4BC7C !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
input[type="tel"]{
	width: 85% !important;
	margin-left: 27px !important;
	border-radius: 0% !important;
	border: 1px solid #E4BC7C !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
input[type="submit"]{
	background-color: #E4BC7C !important;
	margin-top: 10px !important;
	width: 100px !important;
	font-size: 1.0vw;
	border: 1px solid #E4BC7C !important;
}



