@import "bootstrap" ;

#sundayThirdColumn{
  padding: 0px;
  background-color: #E4BC7C;
  margin-right: 225px;
  margin-top: 30px;
  float: right;
  width: 30%;
  p {
    color: white;
  }
}

.sfontTwo{
  margin-top: 0px;
  color: white;
}

#paragraphPadding{
  padding-bottom: 20px;
}

#redLine{
  border-bottom: 1px solid #933D2F;
  margin-left: -25px;
  margin-top: -5px;
  width: 90%;
}

.sundayAlignment{
  padding-left: 10px;
  padding-right: 40px;
}

.smallerFont{
  font-size: 150% !important;
}

.sundayTop{
  padding-top: 5px;
  font-family: Forum-Regular;
}

.sundayMiddle{
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: Forum-Regular;
}

.sundayBottom{
  padding-top: 5px;
  padding-bottom: 30px;
  font-family: Forum-Regular;
}

.bible-image img{
  position: relative;
  width: 200px;
  height: 150px;
  float: left;
  padding-right: 0px;
  margin-left: -15px;
  margin-top: -5px;
}

p#sermonNotes {
  position: absolute;
  color: white;
  font-family: axis;
  margin-top: 20px;
  margin-left: -5px;
}

.weeklyVerse {
  margin-top: -15px;
  font-size: 150%;
}

.scriptureTopic {
  font-size: 100% !important;
}

.date, .scriptureTopic, .weeklyVerse {
  margin-left: -25px;
}

.date {
  font-family: Forum-Regular;;
}
@media only screen and (max-width: 1024px) {
    #sundayThirdColumn{
      padding: 0px;
      background-color: #E4BC7C;
      margin-right: 180px;
      margin-top: 30px;
      float: right;
      width: 30%;
  }

  #redFont {
    font-size: 12pt !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .date {
    font-size: 11pt !important;
    padding: 0 !important;
    margin: 0 !important;

  }
  .scriptureTopic {
    padding: 0 !important;
    margin: 0 !important;
  }

  .bible-image{
    width: 150px !important;
    height: auto !important;
    padding-top: 15px;
    margin-left: -15px;
  }
}





