@import "bootstrap" ;

#sundaysPage{
  background-color: #F9F9F9;
  width: 100%;
  height: 100%;
}
#sundayThirdColumn{
  padding: 0px;
  background-color: #E4BC7C;
  margin-right: 225px;
  margin-top: 30px;
  float: right;
  width: 30%;
}
.sfontOne{
  margin-top: 0px;
  img {
    width: 200px;
    height: 150px;
    float: left;
    padding-right: 10px;
  }
}
.sfontTwo{
  margin-top: 0px;
  color: white;
}
#paragraphPadding{
  padding-bottom: 20px;
}
#redLine{
  border-bottom: 1px solid #933D2F;
  margin-left: 201px;
  margin-right: 40px;
}
.sunday-image{
  width: 100%;
}
.sundayAlignment{
  padding-left: 10px;
  padding-right: 40px;
}
.smallerFont{
  font-size: 150%;
}
.sundayTop{
  padding-top: 5px;
}
.sundayMiddle{
  padding-top: 10px;
  padding-bottom: 15px;
}
.sundayBottom{
  padding-top: 5px;
  padding-bottom: 30px;
}





