<form action="MAILTO:ccfjoe@juno.com" method="post" enctype="text/plain">
	<div>
		<h2 id="redBackground">Set Up</h2>
	</div>
	<div id="formAlignment">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</p>
		<input id="paddingName" type="text" name="name"><br />
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail</p>
		<input type="text" name="mail"><br />
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone</p>
		<input type="tel" name="urstel"><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="SUBMIT">
	</div>
</form>
