<h2>Set Up</h2>

<form action="MAILTO:ccfjoe@juno.com" method="post" enctype="text/plain">
	Name<br />
	<input type="text" name="name"><br />
	E-mail<br />
	<input type="text" name="mail"><br />
	Phone<br />
	<input type="tel" name="urstel"><br />
	<input type="submit" value="SUBMIT">
</form>
