<link href="/header.css" media="screen" rel="stylesheet">

<div class="navbar navbar-fixed-top" role="navigation" id = "header">

  <% if params[:action] == "home" %>
    <%= link_to (image_tag "/cohLogo.png", width: 50), root_path, class: "logo" %>
  <% else %>
    <%= link_to (image_tag "/cohLogoWhite.png", width: 50), root_path, class: "logo" %>
  <% end %>


    <div class="container menu">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle header-link" data-toggle="dropdown">ABOUT</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/sundays">SUNDAYS</a></li>
                          <li><a href="/vision">VISION</a></li>
                          <li><a href="/contact">CONTACT</a></li>
                      </ul>
                  </li>
                  <li><a href="/communities" class = "header-link">COMMUNITIES</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle header-link" data-toggle="dropdown">SUPPORT</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/service">SERVICE</a></li>
                          <li><a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=HLv5OW77ktwW7DehGumoQVs59QCCZ3FQnzViGB7mQy7j0uMS7zePrRVv8Hef7JzD5TVMgvvtiwXP2HSvMw81FXV2MSmKYboayrr0MPqsMhlRmzYb-AVegnfM6rRTY75O5K5O78VqxseB2BiVmB9CyEyI4Bx99HqZbPm9a0K7Aix9k3kCmJ3qrFHAokPdmcySC1Os4T0NSdIks_NrNb_P7g==&ver=3" target="_blank">DONATE</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
    </div>
</div>

<script> $('.dropdown-toggle').dropdown() </script>
